<footer>
  <div class="footer-social">
    <div class="footer-social-image-container">
      <a style="color: inherit; outline: none" target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCzzchqImnr08Fu3aPcz078Q" aria-label="Thiago Montezuma Youtube Channel">
        <i class="fab fa-youtube-square"></i>
      </a>
    </div>
    <div class="footer-social-image-container">
      <a style="color: inherit; outline: none" target="_blank" rel="noopener" href="https://www.instagram.com/thiagomontezuma_" aria-label="Thiago Montezuma Instagram">
        <i class="fab fa-instagram-square"></i>
      </a>
    </div>
    <div class="footer-social-image-container">
      <a style="color: inherit; outline: none" target="_blank" rel="noopener" href="https://www.twitter.com/thiagomontezum_" aria-label="Thiago Montezuma Twitter">
        <i class="fab fa-twitter-square"></i>
      </a>
    </div>
    <div class="footer-social-image-container">
      <a style="color: inherit; outline: none" target="_blank" rel="noopener" href="https://www.github.com/thiagomontezuma" aria-label="Thiago Montezuma Github">
        <i class="fab fa-github-square"></i>
      </a>
    </div>
    <div class="footer-social-image-container">
      <a style="color: inherit; outline: none" target="_blank" rel="noopener" href="https://www.linkedin.com/in/thiagomontezuma" aria-label="Thiago Montezuma Linkedin">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <div class="footer-social-image-container">
      <a style="color: inherit; outline: none" class="footer-links" href="mailto:thiagomdiogenes@gmail.com" aria-label="Thiago Montezuma Email">
        <i class="fas fa-envelope-square"></i>
      </a>
    </div>
  </div>
  <div class="footer-copyright">
    <p class="footer-copyright-text">&copy; 2020 Developed by Thiago Montezuma</p>
  </div>
</footer>