<header>
  <div class="header-logo">
    <a class="header-links" href="/">
      <img id="headerLogo" class="header-logo-img" src="/images/logo-black.png" alt="Site-Logo" />
    </a>
  </div>
  <div class="header-nav">
    <a class="header-links" href="/blog">Blog</a>
    <a class="header-links" href="/about">About Me</a>
    <a class="header-links" href="/contact">Contact</a>
  </div>
</header>