<nav>
  <ul>
    <li class="nav-option">
      <button id="ambientColor" class="nav-button" aria-label="Light Theme">
        <i class="fas fa-sun nav-i"></i>
        <span class="nav-text">Light</span>
      </button>
    </li>
    <li class="nav-option">
      <button id="blog" class="nav-button" aria-label="Blog">
        <i class="fas fa-file-alt nav-i"></i>
        <span class="nav-text">Blog</span>
      </button>
    </li>
    <li class="nav-option">
      <button id="terminal" class="nav-button" value="off" onclick="terminalInit()" aria-label="Terminal Theme">
        <i class="fas fa-terminal nav-i"></i>
        <span class="nav-text">Terminal</span>
      </button>
    </li>
    <li class="nav-option">
      <button id="contact" class="nav-button" aria-label="Contact">
        <i class="fas fa-comment-dots nav-i"></i>
        <span class="nav-text">Contact</span>
      </button>
    </li>
  </ul>
</nav>