<div class="terminal-row" id="terminalDiv">
  <p class="terminal-header">Hi! Type about, contact, or projects for more information. If you feel lost, type help.</p>
  <p class="terminal-text">client@TMD:~$</p>
  <input id="terminalInput" class="terminal-input" type="text" onkeydown="terminalEnter(this)" />
</div>