---
title: About Me
layout: 'base.njk'
---

<div id="mainDivBlock">
  <section class="presentation">
    <div class="presentation-column">
      <h2 class="presentation-column-title" id="typewriter"></h2>
    </div>
  </section>
  <section class="introduction">
    <p class="introdution-text">
      Website programming, design, and development are my major skills being put to experience. I thrive on goals
      and challenges as it can be seen in my whole career. I can build and improve websites and web apps. My
      teamwork and participatory skills
      makes me able to develop new functions and open to new opportunities and challenges.
    </p>
  </section>
  <section class="experience">
    <div class="experience-header">
      <h3 class="experience-header-title">Experience</h3>
      <hr class="experience-hr" />
    </div>
    <div class="experience-row">
      <div class="experience-column">
        <a href="/project-trading" aria-label="Trading System Analysis Project">
          <img src="/images/trading-450x300.png" class="experience-column-img" />
        </a>
      </div>
      <div class="experience-column">
        <div class="experience-topic">
          <h3 class="experience-column-title">Trading System Analysis</h3>
          <h4 class="experience-column-subtitle">Web App Developer with React</h4>
          <h5 class="experience-column-topic-title">Developed Areas</h5>
          <ul class="experience-column-topic">
            <li>Develop a web app capable of gathering real-time trading information from WebSockets and displaying
              it according to user’s own strategies to facilitate trading.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="experience-row">
      <div class="experience-column">
        <a href="/project-metronomo" aria-label="Metronomo Project">
          <img src="/images/metronomo-450x300.png" class="experience-column-img" />
        </a>
      </div>
      <div class="experience-column">
        <div class="experience-topic">
          <h3 class="experience-column-title">Metronomo.co</h3>
          <h4 class="experience-column-subtitle">Web App Developer with React</h4>
          <h5 class="experience-column-topic-title">Developed Areas</h5>
          <ul class="experience-column-topic">
            <li>Develop a progressive web app capable of beeping according to the user’s desired bpm, while being
              fully designed to work effortlessly on mobile devices.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="experience-row">
      <div class="experience-column">
        <a href="/project-cllean" aria-label="Cllean Project">
          <img src="/images/cllean-450x300.png" class="experience-column-img" />
        </a>
      </div>
      <div class="experience-column">
        <div class="experience-topic">
          <h3 class="experience-column-title">Cllean – We Clean It For You!</h3>
          <h4 class="experience-column-subtitle">Website & Web App Developer</h4>
          <h5 class="experience-column-topic-title">Developed Areas</h5>
          <ul class="experience-column-topic">
            <li class="experience-column-topic-item">Develop a web app capable of scheduling services and process
              payments for the services.</li>
            <li>Create the web app landing page to explain the app features and to do the marketing.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="experience-row">
      <div class="experience-column">
        <a href="/project-tecnocar" aria-label="Tecnocar Project">
          <img src="/images/tecnocar-450x300.png" class="experience-column-img" />
        </a>
      </div>
      <div class="experience-column">
        <div class="experience-topic">
          <h3 class="experience-column-title">Tecnocar Serviços Eletrônica Automotiva LTDA</h3>
          <h4 class="experience-column-subtitle">Website Programmer & Designer</h4>
          <h5 class="experience-column-topic-title">Developed Areas</h5>
          <ul class="experience-column-topic">
            <li class="experience-column-topic-item">Create a company website showing the services provided and a
              Scheduling tool.</li>
            <li>Develop an e-commerce website to show and process online services payment.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="experience-row">
      <div class="experience-column">
        <div style="cursor: initial">
          <img src="/images/ced-450x300.png" class="experience-column-img" />
        </div>
      </div>
      <div class="experience-column">
        <div class="experience-topic">
          <h3 class="experience-column-title">CED Auto Center</h3>
          <h4 class="experience-column-subtitle">IT Junior</h4>
          <h5 class="experience-column-topic-title">Developed Areas</h5>
          <ul class="experience-column-topic">
            <li class="experience-column-topic-item">Integrate the company’s computers over the wired and wireless
              network.</li>
            <li>Solve any problem that might appear on the system.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="education">
    <div class="education-header">
      <h3 class="education-header-title">Education</h3>
      <hr class="education-hr" />
    </div>
    <div class="education-row">
      <div class="education-column education-images-container">
        <img src="/images/bc_logo.png" class="education-column-img"
          style="background-color: #005596; border-radius: 5px; padding: 15%" />
      </div>
      <div class="education-column">
        <div class="education-topic">
          <h3 class="education-column-title">Broward College</h3>
          <h4 class="education-column-subtitle">A.A. in Computer Science</h4>
          <ul class="education-column-topic">
            <li>President's List & Honors College; 4.0 GPA.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="education-row">
      <div class="education-column education-images-container">
        <img src="/images/ari_logo.png" class="education-column-img"
          style="background-color: #f1f1f1; border-radius: 5px; padding: 15%" />
      </div>
      <div class="education-column">
        <div class="education-topic">
          <h3 class="education-column-title">Ari de Sá Cavalcante High & Middle School</h3>
          <ul class="education-column-topic">
            <li>Honor Roll Student; 3.8/4.0 GPA.</li>
            <li>Best Student of the Class for 5 consecutive years & Best Student of the School on Senior Year.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="technical-skills">
    <div class="technical-header">
      <h3 class="technical-header-title">Technical Skills</h3>
      <hr class="technical-hr" />
    </div>
    <div class="technical-row">
      <div class="technical-column">
        <div class="technical-topic">
          <p class="technical-topic-item">HTML, CSS, JavaScript & Python</p>
          <p class="technical-topic-item">React, Swift & SASS</p>
          <p class="technical-topic-item">Website Design</p>
          <p class="technical-topic-item" style="margin: 0">Video & Image Editing</p>
        </div>
      </div>
      <div class="technical-column technical-images-container">
        <img src="/images/languageslogos.png" class="technical-column-img" />
      </div>
    </div>
  </section>
  <section class="skills">
    <div class="skills-header">
      <h3 class="skills-header-title">Soft Skills</h3>
      <hr class="skills-hr" />
    </div>
    <div class="skills-row">
      <div class="skills-column">
        <div class="skills-topic">
          <ul class="skills-column-topic">
            <li>Hardworking</li>
            <li>Teamwork</li>
            <li>Attention to Detail</li>
            <li>Analytical Thinking</li>
          </ul>
        </div>
      </div>
      <div class="skills-column">
        <div class="skills-topic">
          <ul class="skills-column-topic">
            <li>Communication</li>
            <li>Work Ethic</li>
            <li>Respectfulness</li>
            <li>Willingness to learn</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="languages-interests">
    <div class="languages-interests-row">
      <div class="languages-column">
        <div class="languages-header">
          <h3 class="languages-header-title">Languages</h3>
          <hr class="languages-hr" />
        </div>
        <div class="languages-topic" style="font-size: 16px">
          <div class="language-topic-items-container">
            <div class="languages-topic-title-container">
              <p class="languages-topic-title">English</p>
            </div>
            <div class="languages-topic-dots-section">
              <div class="languages-topic-dots-container">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
              <div class="languages-topic-dots-description-container">
                <span class="languages-topic-dots-description">Fluent</span>
              </div>
            </div>
          </div>
          <div class="language-topic-items-container">
            <div class="languages-topic-title-container">
              <p class="languages-topic-title">Portuguese</p>
            </div>
            <div class="languages-topic-dots-section">
              <div class="languages-topic-dots-container">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
              </div>
              <div class="languages-topic-dots-description-container">
                <span class="languages-topic-dots-description">Fluent</span>
              </div>
            </div>
          </div>

          <div class="language-topic-items-container">
            <div class="languages-topic-title-container">
              <p class="languages-topic-title">Spanish</p>
            </div>
            <div class="languages-topic-dots-section">
              <div class="languages-topic-dots-container">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot dot-gray"></span>
                <span class="dot dot-gray"></span>
                <span class="dot dot-gray"></span>
              </div>
              <div class="languages-topic-dots-description-container">
                <span class="languages-topic-dots-description">Basic</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="interests-column">
        <div class="interests-header">
          <h3 class="interests-header-title">Interests</h3>
          <hr class="interests-hr" />
        </div>
        <div class="interests-topic">
          <ul class="interests-column-topic">
            <li class="interests-column-topic-li" id="interestGuitar">Play the Guitar</li>
            <li class="interests-column-topic-li" id="interestElectronic">Fix Electronics</li>
            <li class="interests-column-topic-li" id="interestLearning">Learn New Things</li>
            <li class="interests-column-topic-li" id="interestGame">Video Games</li>
            <li class="interests-column-topic-li" id="interestMusic">Listen to Music</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="cta">
    <h3 class="cta-title">Get my Printer Friendly Resume</h3>
    <button class="cta-button" onclick="window.open('/files/ThiagoMontezumaResume.pdf', '_blank');">View</button>
  </section>
</div>